.meta{
    margin-bottom: 10px;
}

.content{
    margin-bottom: 10px;
}

.count{
    margin-bottom: 10px;
    float: right;
}

.thread{
    margin-bottom: 35px;
    border-bottom: 1px solid #000000;
}

.action{
    float: left;
}
.action-edit{
    float: none;
}